#############################################
# ENVIRONMENT TEMPLATE
#############################################

# --- Application versions ---
VT_TOOL_API_VERSION=latest
REDIS_VERSION=7.2

REGISTRY_MIRROR_URL=

# --- Application ports ---
VT_TOOL_API_PORT=8080
REDIS_PORT=6379

# --- REDIS ---
REDIS_PASSWORD=redispassword
ENABLE_REDIS_EMPTY_PASSWORD=false
VT_TOOL_REDIS_DB=1

# --- vt_tool cache ---
VT_CACHE_DB_URL=
VT_CACHE_TTL_HOURS=

# --- Network Configuration ---
DOMAIN_CORP=your.corporate.domain
NETWORK_NAME=vt_tool_net
NETWORK_SUBNET=172.30.0.0/16
NETWORK_GATEWAY=172.30.0.1
NETWORK_IP_RANGE=172.30.0.0/24

# (Optional proxies)
HTTP_PROXY=http://proxy.com:8080
HTTPS_PROXY=http://proxy.com:8080
NO_PROXY=localhost
